@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}


.container {
  background-color: white;
  width: 320px;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

h1 {
  margin-top: 1.5rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  margin: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(216, 15%, 48%);
  text-align: center;
}
